* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
/* ::-webkit-file-upload-button {
  display: none;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .active {
  background-color: red;
}
.error {
  color: red;
  font-weight: bold;
  padding: 10px;
  width: max-content;
  border-radius: 5px;
  border-left: 2px solid red;
  border-right: 2px solid red;
  background-color: rgb(255, 177, 177);
} */
